.paddding {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.navbar-light .navbar-nav .open > .nav-link,
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.open,
.navbar-light .navbar-nav .nav-link.active {
  color: #fff !important;
  padding-top: 12px !important;
  padding-bottom: 15px !important;
  padding-left: 20px !important;
  padding-right: 20px !important;
  margin: 0 20px !important;
  transition: all 0.5s ease;
  background: #f5bc04 !important;
  -webkit-clip-path: polygon(100% 0, 100% 85%, 14% 85%, 0 100%, 0% 60%, 0 0);
  -moz-clip-path: polygon(100% 0, 100% 85%, 14% 85%, 0 100%, 0% 60%, 0 0);
  -ms-clip-path: polygon(100% 0, 100% 85%, 14% 85%, 0 100%, 0% 60%, 0 0);
  clip-path: polygon(100% 0, 100% 85%, 14% 85%, 0 100%, 0% 60%, 0 0);
}

.navbar-light .navbar-nav .nav-link {
  color: #222 !important;
  padding-top: 12px !important;
  padding-bottom: 15px !important;
  padding-left: 20px !important;
  padding-right: 20px !important;
  margin: 0 20px !important;
  transition: all 0.5s ease;
  position: relative !important;
  -webkit-clip-path: polygon(100% 0, 100% 85%, 14% 85%, 0 100%, 0% 60%, 0 0);
  -moz-clip-path: polygon(100% 0, 100% 85%, 14% 85%, 0 100%, 0% 60%, 0 0);
  -ms-clip-path: polygon(100% 0, 100% 85%, 14% 85%, 0 100%, 0% 60%, 0 0);
  clip-path: polygon(100% 0, 100% 85%, 14% 85%, 0 100%, 0% 60%, 0 0);
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  background: #f5bc04 !important;
  color: #fff !important;
  padding-top: 12px !important;
  padding-bottom: 15px !important;
  padding-left: 20px !important;
  padding-right: 20px !important;
  margin: 0 20px;
  position: relative;
}

.bg-faded {
  background-color: #f7f7f7;
}

.mobile_logo_width {
  display: none;
}

.navbar-nav {
  flex-direction: row !important;
  cursor: pointer;
}

.heading {
  font-size: 20px;
  color: #424040;
  font-weight: 600;
}

.input-text-box {
  border-radius: 0 !important;
  font-size: 15px !important;
  height: 45px !important;
  letter-spacing: 1px !important;
}

.form-control:focus {
  box-shadow: none !important;
  border-color: #f5bc04 !important;
}

.btn-sign-in {
  background: #c43421 !important;
  border-radius: 0 !important;
  color: #fff !important;
  padding: 10px 50px !important;
  border-radius: 5px !important;
}

.btn-sign-up {
  background: #4287f5 !important;
  border-radius: 0 !important;
  color: #fff !important;
  padding: 10px 50px !important;
  border-radius: 5px !important;
}

.blog-form input:focus {
  border-color: #f5bc04 !important;
}

.description-box {
  border-radius: 0 !important;
  height: 150px;
  resize: none;
  padding-top: 20px !important;
  letter-spacing: 1px !important;
}

.btn-add {
  background: #bf7034 !important;
  border-radius: 0 !important;
  color: #fff !important;
  padding: 10px 50px !important;
}

.react-tag-input {
  height: 45px !important;
}

.react-tag-input:focus {
  border-color: #f5bc04 !important;
}

.catg-dropdown {
  width: 100%;
  border-radius: 4px;
  height: 45px;
  color: #806a78;
}

.catg-dropdown:focus {
  outline: none !important;
  border-color: #f5bc04;
}

.trending {
  float: left;
  color: #806a78;
  font-size: 18px;
  margin: auto;
}/*# sourceMappingURL=style.css.map */